@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<FiloKiralama_UI.Dtos.RentalCarReservedDtos.ResultRentalCarReservedDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-1 px-1">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Kiralık Araç Rezerve Listesi</h6>
                @using (Html.BeginForm("Index", "RentalCarReserved", FormMethod.Post))
                {
                    <div>
                        <div style="float:left">
                            @Html.TextBox("ara", null, new
                                {
                                    @class = "form-control",
                                    @onkeyup = "AdUcase(this)",
                                    @placeholder = "Müşteri adını giriniz"
                                })
                        </div>
                        <div style="float:left">
                            <input type="submit" class="btn btn-info" value="Ara" />
                        </div>
                    </div>
                }
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Rezerve No</th>
                                <th scope="col">Rezerve Tarihi</th>
                                <th scope="col">Ad</th>
                                <th scope="col">Soyad</th>
                                <th scope="col">Marka</th>
                                <th scope="col">Rezerve Araç</th>
                                <th scope="col">Teslim Alma Konumu</th>
                                <th scope="col">Teslim Alma Tarihi</th>
                                <th scope="col">Teslim Alma Saati</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Kirala</th>
                                @* <th scope="col">Güncelle</th> *@

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.RezerveID</td>
                                    <td>@(((DateTime)@item.AracRezerveTalepTarihi).ToShortDateString())</td>
                                    <td>@item.Ad</td>
                                    <td>@item.Soyad</td>
                                    <td>@item.MarkaAdi</td>
                                    <td>@item.TipAdi</td>
                                    <td>@item.TeslimAlmaKonumu</td>
                                    <td>@(((DateTime)@item.TeslimAlmaTarihi).ToShortDateString())</td>
                                    <td>@item.TeslimAlmaSaati</td>
                                    <td>@item.Durum</td>
                                    @if (item.Durum == "İPTAL")
                                    {
                                        <td><button disabled class="btn btn-outline-primary">Kirala</button></td>
                                    }
                                    else
                                    {
                                    <td><a href="/DailyRentalCars/CreateDailyRentalCar/@item.RezerveID" class="btn btn-outline-primary">Kirala</a></td>
                                    }
                                    @* <td>@Html.ActionLink("Sil", "DeleteAppointment", new { id = item.RandevuID }, new { @class = "btn btn-outline-danger",onclick="return confirm('Silmek istiyor musunuz?')" })</td> *@
                                    @* <td><a href="/RentalCarRevision/UpdateRevision/@item.RezerveID" class="btn btn-outline-success">Güncelle</a></td> *@

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                                 new
                                 {
                                     page

                                 }),
                                 new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            Display = PagedListDisplayMode.IfNeeded

                        })
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script src="~/js/jquery-3.7.1.js"></script>
<script>
    $("#test").click(function () {
        alert("çalıştı")
    })

    function AdUcase(UpCstr) {
        var UCStr = UpCstr.value;
        UpCstr.value = UCStr.toUpperCase();
    }

</script>

