@using X.PagedList.Web.Common
@using X.PagedList
@using X.PagedList.Mvc.Core

 @model IPagedList<FiloKiralama_UI.Dtos.FleetRentalDtos.ResultFleetRentalDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-1 px-1">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Filo Kiralanan Araçlar</h6>
                @using (Html.BeginForm("Index", "FleetRentalRequest", FormMethod.Post))
                {
                    <div>
                        <div style="float:left">
                            @Html.TextBox("ara", null, new
                                {
                                    @class = "form-control",
                                    @onkeyup = "AdUcase(this)",
                                    @placeholder = "Firma adını giriniz"
                                })
                        </div>
                        <div style="float:left">
                            <input type="submit" class="btn btn-info" value="Ara" />
                        </div>
                    </div>
                }
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">FiloID</th>
                                <th scope="col">Firma</th>
                                <th scope="col">Marka</th>
                                <th scope="col">Model</th>
                                <th scope="col">Plaka</th>
                                <th scope="col">Yıllık KM</th>
                                <th scope="col">Kiralama Süresi</th>
                                @* <th scope="col">Toplam Araç Adedi</th> *@
                                <th scope="col">Başlangıç</th>
                                <th scope="col">Bitiş</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FiloID</td>
                                    <td>@item.FirmaUnvani</td>
                                    <td>@item.MarkaAdi</td>
                                    <td>@item.TipAdi</td>
                                    <td>@item.Plaka</td>
                                    <td>@item.YillikKM</td>
                                    <td>@item.KiralamaSuresi</td>
                                    @* <td>@item.ToplamAracAdedi</td> *@
                                    <td>@(((DateTime)@item.KiraBaslangicTarihi).ToShortDateString())</td>
                                    <td>@(((DateTime)@item.KiraBitisTarihi).ToShortDateString())</td>
                                    @* <td><a href="/FleetOffer/CreateSendAnOffer/@item.FiloTalepID" class="btn btn-outline-danger">Teklif Gönder</a></td> *@
                                    @* <td>@Html.ActionLink("Kapat", "CloseOffer", new { id = item.FiloTalepID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Talebi kapatmak istiyor musunuz?')" })</td> *@
                                    @* <td><a href="/RentalCarRevision/UpdateRevision/@item.RevizeID" class="btn btn-outline-success">Güncelle</a></td> *@

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                                 new
                                 {
                                     page

                                 }),
                                 new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            Display = PagedListDisplayMode.IfNeeded

                        })
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script src="~/js/jquery-3.7.1.js"></script>
<script>
    $("#test").click(function () {
        alert("çalıştı")
    })

    function AdUcase(UpCstr) {
        var UCStr = UpCstr.value;
        UpCstr.value = UCStr.toUpperCase();
    }

</script>


